html, body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  min-width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
  padding: 0;
}
html {
  padding: 0;
  margin: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
   width: 880px;
   margin-left: auto;
  margin-right: auto;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 27px;
  background: lightgray;
  min-height: 300px;
}
.header-top .index-logo {
  float: left;
  margin-right: 164px;
}
.header-top .main-menu {
   float: left;
   margin: 0;
   padding: 0;
   list-style: none;
   margin-top: 17px;

}
.main-menu li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.main-menu li a {
   display: block;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 30px;
   font-weight: 500;
   color: #000000;
   text-decoration: none;
   padding: 10px 20px;
   /*background: yellow;*/
}
.cart-buy {
   float: right;
   width: 110px;
   margin-top: 17px;
}
.cart-buy a {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 0;
  position: relative;
}
.cart-buy a::before {
  content: "";
 position: absolute;
 top: 16px;
 left: 16px;
 width: 15px;
 height: 15px;
 background: transparent url("../img/icon-basket.png") no-repeat;
}
.header-top {
  margin-bottom: 30px;
}
.slider {
   position: relative;
   width:880px;
   height: 310px;
   margin: 0 auto;
}
.slider-controls {
   position: absolute;
   left:50%;
   bottom: 95px;
   margin-left: -100px;
   width: 200px;
   height: 10px;
   text-align: center;
   /*border: 1px dotted black;*/
   z-index: 1000;
}
.slider input[type="radio"] {
  display: none;
}
.slider-controls label {
   display: inline-block;
   vertical-align: top;
   margin: 0 3px;
   width: 4px;
   height:4px;
   background-color: white;
   border: 3px solid gray;
   border-radius: 50%;
   cursor: pointer;
}
.slider-controls .active {
   background: #1c1c1c;
}
.slide {
  display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   /*background: rgba(255, 255, 0, 0.1);*/
}
.slide:nth-child(1) {
  /*display: block;*/
   background-image: url(../img/slide-screens.png);
   background-repeat: no-repeat;
   background-position: 100% 10px;
}
.slide:nth-child(2) {
   background-image: url(../img/slide-calculator.png);
   background-repeat: no-repeat;
   background-position: 100% 10px;
}
.slide:nth-child(3) {
   background-image: url(../img/slide-robot.png);
   background-repeat: no-repeat;
   background-position: 100% 10px;
}

.slide:nth-child(2) .slide-title {
  width: 467px;
}
.slide:nth-child(2) p {
   width: 470px;
}
.slide:nth-child(3) .slide-title {
  width: 280px;
}
.slide:nth-child(3) p {
   width: 470px;
}
.slide-text {
   width: 380px;
   padding: 34px 0;
   color: #283136;
}
.slide-title {
   width: 250px;
   font-size: 36px;
   line-height: 36px;
   font-weight: 500;
   color: #000000;
}
.slide-text p {
   font-size: 16px;
   line-height: 22px;
   font-weight: 500;
   margin-bottom: 27px;
}
.slide .btn {
  display: inline-block;
   /*width: 240px;*/
   padding: 10px 70px;
   font-size: 12px;
   line-height: 18px;
   font-weight: 500;
   color: #ffffff;
   background-color: #fb565a;
   text-transform: uppercase;
   text-decoration: none;
   /*text-align: center;*/
   border-radius: 3px;

}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #000000;
}
