html, body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  min-width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #626262;
  padding: 0;
}
html {
  padding: 0;
  margin: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
   width: 880px;
   margin-left: auto;
  margin-right: auto;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 27px;
  background: lightgray;
  /*min-height: 300px;*/
  background-color: #eeeeee;
}
.main-header {
   margin-bottom: 70px;
}
.header-top .index-logo {
  float: left;
  margin-right: 164px;
}
.header-top .main-menu {
   float: left;
   margin: 0;
   margin-top: 27px;
   padding: 0;
   list-style: none;
}
.main-menu li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}
.main-menu li a {
   display: block;
   text-transform: uppercase;
   color: #000000;
   text-decoration: none;
   padding: 0 20px;
}
.main-menu .active {
   position: relative;
   background-color: none;
}
.main-menu .active:after {
   content: "";
   position: absolute;
   bottom: 0;
   right: 20px;
   left: 20px;
   height: 2px;
   background-color: #fb565a;
}
.header-top a:hover {
  color: #fb565a;
}
.header-top a:active {
  color: #ababab;
}
.cart-buy {
   float: right;
   width: 110px;
   margin-top: 17px;
}
.cart-buy a {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 0;
  position: relative;
}
.cart-buy a::before {
  content: "";
 position: absolute;
 top: 16px;
 left: 16px;
 width: 15px;
 height: 15px;
 background: transparent url("../img/sprite.png") no-repeat;
 background-position: -10px -80px;
}
.header-top {
  margin-bottom: 30px;
}
.cart-buy a:hover::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -45px;
}
.cart-buy a:active::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -10px;
}
.slider {
   position: relative;
   width:880px;
   height: 310px;
   margin: 0 auto;
}
.slider-controls {
   position: absolute;
   left:50%;
   bottom: 95px;
   margin-left: -100px;
   width: 200px;
   height: 10px;
   text-align: center;
   /*border: 1px dotted black;*/
   z-index: 1000;
}
.slider input[type="radio"] {
  display: none;
}
.slider-controls label {
   display: inline-block;
   vertical-align: top;
   margin: 0 3px;
   width: 4px;
   height:4px;
   background-color: white;
   border: 3px solid gray;
   border-radius: 50%;
   cursor: pointer;
}
.slider-controls .active {
   background: #1c1c1c;
}
.slide {
  display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   /*background: rgba(255, 255, 0, 0.1);*/
}
.slide:nth-child(1) {
  /*display: block;*/
   background-image: url(../img/slide-screens.png);
   background-repeat: no-repeat;
   background-position: 100% 10px;
}
.slide:nth-child(2) {
   background-image: url(../img/slide-calculator.png);
   background-repeat: no-repeat;
   background-position: 100% 10px;
}
.slide:nth-child(3) {
   background-image: url(../img/slide-robot.png);
   background-repeat: no-repeat;
   background-position: 99% -8px;
}

.slide:nth-child(2) .slide-title {
  width: 467px;
}
.slide:nth-child(2) p {
   width: 470px;
}
.slide:nth-child(3) .slide-title {
  width: 280px;
}
.slide:nth-child(3) p {
   width: 470px;
}
.slide-text {
   width: 380px;
   padding: 34px 0;
   color: #283136;
}
.slide-title {
   width: 250px;
   font-size: 36px;
   line-height: 36px;
   font-weight: 500;
   color: #000000;
}
.slide-text p {
   font-size: 16px;
   line-height: 22px;
   font-weight: 500;
   margin-bottom: 27px;
}
.slide .btn {
  display: inline-block;
   /*width: 240px;*/
   padding: 10px 70px;
   font-size: 12px;
   line-height: 18px;
   font-weight: 500;
   color: #ffffff;
   background-color: #fb565a;
   text-transform: uppercase;
   text-decoration: none;
   /*text-align: center;*/
   border-radius: 3px;
}
.slide .btn:hover {
   background-color: #d6494d;
}
.slide .btn:active {
   background-color: #b63538;
   box-shadow: inset 0 3px 0px rgba(155, 45, 48, 1);
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #000000;
}
.services {
  margin-bottom: 107px;
}
.services section {
  float: left;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-right: 80px;
}
.services section:last-child {
   margin-right: 0;
}
.services img {
   margin-bottom: 5px;
}
.services h2 {
   font-size: 18px;
   line-height: 30px;
   font-weight: 500;
   text-transform: uppercase;
}
.services p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 24px;
}
.services .btn {
  display: inline-block;
   /*width: 240px;*/
   padding: 10px 40px;
   font-size: 12px;
   line-height: 18px;
   font-weight: 500;
   color: #ffffff;
   text-transform: uppercase;
   text-decoration: none;
   /*text-align: center;*/
   border-radius: 3px;
}
.web-sites .btn {
  background-color: #fb565a;
}
.web-sites .btn:hover {
   background-color: #d6494d;
}
.web-sites .btn:active {
   background-color: #b63538;
   border-top: 3px solid #9b2d30;
   padding-top: 7px;
}
.phones .btn {
   background-color: #00ca74;
}
.phones .btn:hover {
  background-color: #01a25e;
}
.phones .btn:active {
  background-color: #009053;
  border-top: 3px solid #007b47;
  padding-top: 7px;
}
.presentations .btn {
   background-color: #efc84a;
}
.presentations .btn:hover {
  background-color: #d6ae2c;
}
.presentations .btn:active {
  background-color: #c09b24;
  border-top: 3px solid #a3841f;
  padding-top: 7px;
}
.content-container {
   margin-bottom: 92px;
}
.content {
  float: left;
   min-height: 100px;
   width: 640px;
}
.content-container .content-title {
   width: 525px;
   font-size: 36px;
   line-height: 36px;
   font-weight: 500;
   color: #000000;
   padding-top: 15px;
}
.content-container p {
   width: 575px;
   font-size: 16px;
   color: #283136;
   line-height: 22px;
   margin-bottom: 45px;
}
.content .title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.content ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
.content li {
   position: relative;
   padding: 0;
   padding-left: 36px;
   margin-bottom: 22px;
   color: #283136;
}
.content li::before {
   position: absolute;
   top: 10px;
   left: 0;
   display: table;
   content: "";
   width: 24px;
   height: 2px;
   background-color: #fb565a;
}
.sidebar {
   margin-left: 640px;
   min-height: 100px;
   padding-top: 5px;
}
.sidebar .big-logo {
   margin-left: 31px;
   margin-bottom: 71px;
}
.big-logo img {
  margin-bottom: 26px;
}
.sidebar .start {
   font-size: 16px;
   line-height: 9px;
   font-weight: 500;
   text-transform: uppercase;
   color: #283136;
   margin-left: 47px;
}
.sidebar .title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.sidebar ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
.sidebar li {
   position: relative;
   padding: 0;
   padding-left: 36px;
   margin-bottom: 22px;
   color: #283136;
}
.sidebar li::before {
   position: absolute;
   top: 10px;
   left: 0;
   display: table;
   content: "";
   width: 24px;
   height: 2px;
   background-color: #fb565a;
}
.nerds-made {
   height: 145px;
   padding-left: 10px;
   padding-top: 63px;
}
.nerds-made a{
   display: inline-block;
   vertical-align: middle;
   margin-right: 120px;
   opacity: 0.2;
}
.nerds-made a:last-child {
  margin-right: 0;
}
.nerds-made a:hover {
   opacity: 1;
}
.nerds-made a:active {
   opacity: 0.6;
}
.map {
  margin-bottom: -6px;
  position: relative;
}
.iframe {
}
/*.map .container {
   padding-top: 0;
}*/
.map-contacts {
  position: absolute;
   top: 0;
   left: 50%;
   margin-left: -443px;
   margin-top: 95px;
   padding: 25px;
   border-radius: 5px;
   background-color: #fff;
}
.contacts-title {
   font-size: 16px;
   line-height: 30px;
   font-weight: 500;
   text-transform: uppercase;
}
.map-contacts p {
   font-size: 16px;
   line-height: 20px;
   font-weight: 500;
   color: #666666;
}
.map-contacts .street{
  margin-top: 10px;
   margin-bottom: 20px;
}
.map-contacts .number{
   margin-bottom: 31px;
}
.map-contacts .call {
   display: inline-block;
   padding: 10px 55px;
   font-size: 12px;
   line-height: 18px;
   font-weight: 500;
   color: #fedadb;
   text-transform: uppercase;
   text-decoration: none;
   border-radius: 3px;
   background-color: #fb565a;
}
.map-contacts .btn:hover {
   background-color: #d6494d;
}
.map-contacts .btn:active {
   background-color: #b63538;
   box-shadow: inset 0 3px 0px rgba(155, 45, 48, 1);

}
.footer-social {
   float: left;
   padding-top: 52px;
}
.footer-social a {
   display: inline-block;
   vertical-align: top;
   color: ffffff;
  text-decoration: none;
  font-size: 0;
   position: relative;
   width: 60px;
   height: 60px;
   line-height: 30px;
   text-align: center;
   border-radius: 50%;
   margin-right: 26px;
   background-color: #e1e187;
   background-image: url(../img/sprite-2.png);
}
.social-btn:hover {
   background-color: #fb565a;
}
.social-btn:active {
   background-color: #d6494d;
   box-shadow: inset 0 3px 0px rgba(182, 62, 66, 1);
}
.social-btn-vk {
  background-position: 2px -94px;
}
.social-btn-f {
  background-position: 8px 2px;
}
.social-btn-in {
  background-position: 5px 100px;
}
.footer-sentence {
   margin-left: 322px;
}
.sentence {
   font-size: 36px;
   line-height: 36px;
   font-weight: 500;
   padding-top: 51px;
}
.footer-sentence p {
   margin-top: 10px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.modal-content {
  display: none;
  width: 460px;
  padding:55px 80px 50px;
  position: fixed;
  top: 337px;
  left: 50%;
  margin-left: -310px;
  border-radius: 5px;
  z-index: 1010;
  background-color: #ffffff;
  box-shadow: 0 20px 30px rgba(0, 1, 1, 0.75);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}
.modal-content-close {
  position: absolute;
  top: 5px;
    right: 5px;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: #fb565a;
  border-radius: 50%;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 7px;
  width: 26px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 3px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.modal-content .name,
.modal-content .mail {
   float: left;
   width: 220px;
   line-height: 18px;
   margin-bottom: 10px;
}
.modal-content .name {
   margin-right: 20px;
}
.user-name,
.user-mail,
.user-letter {
   display: block;
   margin-bottom: 10px;
}
user-letter {
   display: block;
   margin-bottom: 10px;
}
.modal-content input[type="text"] {
   width: 100%;
   padding: 10px;
   font-size: 12px;
   box-sizing: border-box;
   border: 2px solid #d7dcde;
   color: #000000;
}
::-webkit-input-placeholder      {color:#000000;}
.modal-content input[type="text"]:hover {
   border: 2px solid #a2a9ac;
}
.modal-content input[type="text"]:focus {
   border: 2px solid #56bffb;
}
textarea {
  width: 438px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 15px;
  margin-bottom: 50px;
  border: 2px solid #d7dcde;
}
textarea:hover {
   border: 2px solid #a2a9ac;
}
textarea:focus {
   border: 2px solid #56bffb;
}
.login-form button {
   font-size: 12px;
   line-height: 18px;
   color: #feddde;
   padding: 10px 196px;
   padding-bottom: 15px;
   border-radius: 5px;
   background-color: #fb565a;
}








.sprite-2 {
    background-image: url(../img/sprite-2.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-facebook {
    width: 12px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-icon-instagramm {
    width: 21px;
    height: 21px;
    background-position: -10px -52px;
}

.sprite-icon-vk {
    width: 26px;
    height: 15px;
    background-position: -10px -93px;
}
.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-basket-light {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite--icon-basket-red {
    width: 15px;
    height: 15px;
    background-position: -10px -45px;
}

.sprite-icon-basket {
    width: 15px;
    height: 15px;
    background-position: -10px -80px;
}



.shop .main-header {
   margin-bottom: 56px;
}
.shop .header-top {
   margin-bottom: 0;
}
.shop h1 {
  margin-left: auto;
  margin-right: auto;
   font-size: 40px;
   font-weight: 500;
   text-transform: uppercase;
   width: 655px;
   line-height: 46px;
   text-align: center;
}
